                           

<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8"> <title>Command window</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h2>Inserte un comando</h1>
    <form method="get" action="/answer">	
    <input type="text" name="comando" value="Inserte aqui"/>
    <input type="submit" value="Enviar">
    </form>
  </body>
</html>


