<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Plataforma de control de los trenes <%= title %></p>
	<a  href='/comando'>Command window</a>

  </body>
</html>
