<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8"> <title>Command window</title>
    	
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
		
  </head>
  <body>
<div id="page-wrap">
	<header class="main" id="h1">
		<h2>Trenes Pi</h2>
	</header>
	
	<nav clas="main" id="n1" role="navigation">
		<span><a href="/">Inicio</a></span>
		<span><a href="/comando">Ventana de comandos</a></span>
	</nav>
	
	<section class"main"id="s1">
		<%- body %>
	</section>
	

</body>
</html>


