                           
    <h2>Inserte un comando</h2>
    <form method="get" action="/answer">	
    <input type="text" name="comando" value="Inserte aqui"/>
    <input type="submit" value="Enviar">
    </form>


